body{
    background-color: #eae8eb;
}
body .guide{
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    background-color: #f5f5f5;
    width: 100%;
}
.down{
    position: relative;
}
/* 设置中国大陆下拉框的样式，平时隐藏，并且添加滚动条 */
.Drop-down{
    display: none;
    width: 315px;
    height: 360px;
    background-color: white;
    position: absolute;
    top: 35px;
    overflow: auto;
    z-index: 100000;
}
.down:hover{
    background-color: white;
    
}
.left .Drop-down li:hover{
    background-color:#f5f5f5;
}
.down:hover .Drop-down{
    display: block;
}
.left{
    float: left;
    margin-left: 100px;
}
.left div{
    float: left;
    margin-right: 12px;

}
.hover{
    color: red;
}
.left .red:hover{
    color: red;
    
}
.right{
   float: right;
   margin-right: 100px;

}
.right div{
    float: left;
    margin-left: 12px;
}
.mytb{
    position: relative;
}
.mytb:hover{
    background-color: white;

}
.mytb:hover .mytb-down{
    display: block;
}
.mytb-down{
    z-index: 1000000;
    display: none;
    width: 60px;
    position: absolute;
    background-color:white;
    left: -12px;
}
.mytb-down li:hover{
    background-color: #f5f5f5;
}
.cow{
    position: relative;
}
.cow-down{
    position: absolute;
    width: 84.75px;
    left: -12px;
    display: none;
    z-index: 9999;
    background-color: white;
}
.cow-down li{
    text-align: center;
 
}
.cow:hover{
    background-color: white;
}
.cow:hover .cow-down{
    display: block;
}

.cow-down li:hover{
    background-color: #f5f5f5;
}
.star{
    position: relative;
    width: 80px;
    text-align: center;
}
.star-down{
    position: absolute;
    display: none;
    left: -12px;
    background-color: white;
}
.star-down li:hover{
    background-color:#f5f5f5;
}
.star-down ul{
width: 80px;
}
.star:hover{
    background-color: white;
}
.star:hover .star-down{
    display: block;
}

.right div:hover>a{
color: red;
}
.mid-wrapper{
    align-content: center;
    margin-bottom: 15px;
}
.mid-guide{
    background-color: #eae8eb;
    height: 121px;
    width: 1190px;

}
.logo img{
    width: 142px;
    height: 78px;
}
.search{
    width: 925px;
    height: 50px;
    border: #ff5000 2px solid;
    border-radius: 50px;
}
.below{
    width: 929px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
.below span{
    margin-top: -5px;
}
.below a{

    font-size: 16px;
    display: flex;
    
}
.logo,.search,.qrcode{
    float: left;
    margin-top: 24px;
}
.qrcode{
    width: 76px;
    height: 90px;
    background-color:white;
    margin-top: 12px;
    margin-left: 10px;
}
.inner{
    text-align: center;
    align-content: center;
}
.qrcode span{
    color: #ff5000;
}
.qrcode img{
    width: 62px;
    height: 62px;
}
.main{
   display: flex;
   flex-direction: column;
   border-radius: 15px;
   background-color: white;
   padding: 20px;
   padding-right: 0;
}
.shang{
     background-color: white;
    
    display: flex; 
}
.all-goods
{
    height: 460px;
    width: 280px;
    background-color: #f7f9fa;
    border-radius: 8px;  
    font-size: 20px;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #666666;
    
    
}
.all-goods h2{
    font-size: 25px;
    font-weight: bold;
    margin-left: 18px;
    display: flex;
    
}
.all-goods{
    display: flex;
}

.all-goods .goods:hover{
    color: #ff5000;

}
.all-goods i{
    margin:0 18px;
}
.info{
    width: 882px;
    height: 460px;
    margin-left: 18px;
    display: flex;
    flex-direction: column;
}
.type{
    width: 856px;
    height: 42px;
    background-color:#f7f9fa;
    display: flex;
    align-items: center;
    border-radius: 15px;
    

}
.type ul{
    display: flex;
    
}
.type ul a{
    font-size: 16px;
    display: flex;
    margin: 0 12px;
}
.type ul li{
    font-size: 16px;
    display: flex;
    margin: 0 12px;
}
.type .change{
    
    transition: all 0.3s;
    color: green;

}
.type .change:hover{
    color: #ff5000;
}
.type .bigger{
  font-weight: bold;
}
.info .low{
    display: flex;
    margin-top: 20px;
}
.info .low .banner{
    width: 630px;
    height: 400px;
    background-color: aqua;
    border-radius: 15px;
    position: relative;
}
.info .low .banner img{
    width: 630px;
    height: 400px;

}
.info .low .banner .b-pic{
    position: absolute;
    
}
.pointer{
    position: absolute; 
    bottom: 20px;
    left: 300px;
}
.info .low .pointer a{
    width: 8px;
    height: 8px;
    background-color: #f7f9fa;
    border-radius: 50%;
    float: left;
    margin-right: 3px;
}
/* 为什么不能生效？
 */
.pointer a.active{
    background-color: #ff5000;
}
.user{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 18px;
  

}
.head{
    width: 226px;
    background-color: white;
    text-align: center;
   
    
}
.head img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.head .head-wrapper{
    display: flex;
    flex-direction: column;
}
.head span a{
    font-size: 16px;
    font-weight: bold;
}
.head .hello:hover{
    color: #ff5000;

}
.log{
    display: flex;
    justify-content: space-evenly;
}
.user .log .we{
width: 60px;
height: 42px;
border-radius: 12px;
text-align: center;
font-size: 16px;
box-sizing: border-box;
padding-top: 7px;
}
.log .one{
    background-color: #ff5d00;
   

}
.log .two{
    background-color: #ff7600;
   
}
.log .three{
    border: #ff5d00 1px solid;
    
}

.log span{
    font-weight: bold;
 }
 .deng{
    color: white;
    font-size: 16px;
    
 } .zhu{
    color: white;
    font-size: 16px;
}
.kai{ 
    color: #ff5000;
    font-size: 16px;}
   
.user .shop{
    display: flex;
    flex-direction: column;
}
.shop .symbol{
    display: flex;
    justify-content: space-around;
}

.shop .symbol i{
   font-size: 35px;
}
.shop{
    margin-top: 25px;
}
.text{
    display: flex;
    justify-content: space-around;
}
.text span{
    font-weight: bold;
}
.user .text div span{
    display: flex;
    font-size: 10px;
}
.rule .hot{
    color: #ff5000;
    background-color: #ffefef;
}
.rule span{
    font-size: 15px;
}
.zhong{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 20px;
}
.zhong .like{
   margin-bottom: 20px;
}
.zhong .like .guess{
    font-size: 20px;
    font-weight: bold;
  
}
.zhong .like .tui{
    font-size: 14px;
    background-color: #ff5d00;
    color: white;
    border-radius: 3px;
    width: 20px;
    height: 20px;
}
.pic-zhong{
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
}
.pic-zhong .wai{
    width: 350px;
    display: flex;
    border-radius: 15px;
    background-color:#f5f5f5;
 
}
.pic-zhong span{
    font-size: 16px;
    color: #333340;
}
.pic-zhong img{
    width: 170px;
    height: 170px;
}
.pic-nei{
    width: 330px;
    height: 170px;
    border-radius: 15px;
    background-size: cover;
}
.pic-zhong .money{
    color: #ff5d00;
    font-size: 16px;
   margin-top: 100px;
   display: flex;
}


